:root {
  --main-bg-color: $surface;

  --modal-bg-color: $overlay;
  --modal-header-color: $base;
  --modal-footer-color: $base;

  --drop-down-menu-bg: $overlay;

  --button-color: $overlay;
  --button-color-hover: $highlightMed;
  --button-text: var(--text);
  --button-text-hover: var(--text-hover);

  --accent-color: 196, 167, 231; /* iris */
  --accent-color-hover: rgb(var(--accent-color), 0.8);
  --link-color: var(--text);
  --link-color-hover: $love;
  --label-text-color: $text;

  --text: $text;
  --text-hover: var(--text);
  --text-muted: a6adc8;

  /* Specials */
  --arr-queue-color: $foam; /* Servarr apps + Bazarr */
  --plex-poster-unwatched: $rose;
  --petio-spinner: invert(66%) sepia(15%) saturate(1451%) hue-rotate(185deg) brightness(105%) contrast(96%); /* Made with https://codepen.io/jsm91/embed/ZEEawyZ */ /* Blue */
  --gitea-color-primary-dark-4: var(--accent-color);
  --overseerr-gradient: linear-gradient(
    var(--main-bg-color),
    var(--main-bg-color)
  ); /* Make sure this is compatible with whatever takes in the gradient */
}
